
.radmenu
{
	white-space:nowrap;
	float:left;
	position:relative;
}


.radmenu:after 
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.radmenu ul.horizontal,
.radmenu ul.vertical
{
	margin:0;
	padding:0;

	position:relative;
	left:0;
	float:left;
}

.radmenu .item
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;	
	_display:inline;
}


.radmenu .horizontal .item
{
	clear:none;
}

.radmenu .vertical .item
{
	clear:both;
}


.radmenu ul.active,
.radmenu ul.rootGroup
{
	display:block;
}

.radmenu .slide, 
.contextMenu
{
	position:absolute;
							/*	overflow:hidden; */
	display:none;
	_height:1px;
	float:left;
}

.contextMenu
{
	z-index:1000;
}

.radmenu .text
{
	display:block;
}

.radmenu a.link
{
	cursor:default;
	display:block;	
}


.scrollWrap
{
	position:absolute;
	float:left;

									/* overflow:hidden; */
}

.radmenu .leftArrow,
.radmenu .topArrow,
.radmenu .bottomArrow,
.radmenu .rightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
}

.radmenu .leftArrowDisabled,
.radmenu .topArrowDisabled,
.radmenu .bottomArrowDisabled,
.radmenu .rightArrowDisabled
{
	display:none;
	text-indent:-1000em;
}

.radmenu .leftImage
{
	border:0;
	float:left;
}

.rtl
{
	float:right;
}

.rtl ul.horizontal,
.rtl ul.vertical
{
	float:right;
}

.rtl .item
{
	float:right;	
}

.rtl .leftImage,
.rtlcontext .leftImage
{
	border:0;
	float:right;
}

.radmenu ul.rootGroup
{
	float:none;
	_float:left;
}

.radmenu .link
{
	width:auto;
}










/*
.menu_history_l2:hover .menu_history_l3
{
	display: block;
	z-index: 100;

}

ul.menu_history_l3 {
	width: 100px;
	height: 100px;
	border: 1px green dashed;	
}

div.menu_history_l3 {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px orange dashed;
	z-index: 200;
	left: 150px;
}


#menu_about_l1:hover .menu_about_l2, .menu_members_l1:hover .menu_members_l2, 
.menu_students_l1:hover .menu_students_l2, .menu_media_l1:hover .menu_media_l2,
.menu_convention_l1:hover .menu_convention_l2, .menu_events_l1:hover .menu_events_l2,
.menu_awards_l1:hover .menu_awards_l2, .menu_jobs_l1:hover .menu_jobs_l2,
.menu_support_l1:hover .menu_support_l2
{
	display: block;
	z-index: 100;
	
}

*/







#nav, #nav ul { 
    list-style: none; 
}
#nav a { 
    display: block;
}
#nav li { 
    float: left;  /* float the 2nd parent li to left of 1st parent li */

}
#nav li ul { /* focus on 2nd level ul or children menu */
    position: absolute; /*  set position type in order to move it off…*/
    left: -999em; /* set left to negative to make it invisible  */

}



#nav li:hover ul, #nav li.sfhover ul { 
    left: auto; 
}

#nav li ul ul { /* focus on 3rd level/grandchild list */
	margin: -25px 0 0 185px; /* drop down should display to the right of the 2nd level list */
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em; /* set left to negative to make it invisible  */
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	left: auto;
}



#nav a {

display: block;
}




.arrow  { 
	background: transparent url(../../../../../graphics/menu/groupImage.gif) no-repeat  center right;
}

a:hover .arrow  { 
    background: transparent url(../../../../../graphics/menu/invertedGroupImage.gif) no-repeat center right;
}


ul#grandchild { 
position: relative;
top: 15px;
	left: 100px;
}

.vertical {
	z-index: 200;	
}

.ontop {
	z-index: 200;
}






#nav li ul li ul li ul { 
    position: absolute; /*  set position type in order to move it off…*/
    left: -999em; /* set left to negative to make it invisible  */	
	display: none;
}

#nav li ul li ul li:hover ul  {
	left: auto;
	display: block;
}
